/* Custom Sidebar Styling */
.sidebar {
    height: 100vh; /* Full height */
    background-color: white; /* Dark background */
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    border-right: #3bb8ff21 7px solid;
}

.sidebar-heading {
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.sidebar .nav-link {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: black;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
    background-color: #b2cef6a8;
    color: #00339b;
}

.sidebar .nav-link i {
    margin-right: 0.75rem;
    font-size: 1.25rem;
}

.sidebar .nav-item + .nav-item {
    margin-top: 0.25rem;
}

/* Adjust content to not be behind the sidebar */
.main-content {
    margin-left: 240px; /* Same as sidebar width */
    padding: 20px;
}

/* Make sidebar collapsible for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
    }

    .main-content {
        margin-left: 0;
    }
}

.card-header {
    background-color: rgb(0 123 246 / 11%);
    border-bottom: none;
}

.task-column {
    border-left: solid 10px rgb(248 250 252);;
    height: auto;
    border-radius:15px;
    background-color: #80808012;
    padding:15px;
    .card{
        margin-top:15px;
    }
}
.project-details{
    background-color: #94a3a914;
    border-radius: 15px;
}

